@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#container-conEmpleado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: auto;
}
.input-cse{
    border: none;
    background-color: #F1EFEF;
    margin: 10px 10px;
    border-radius: 15px;
    height: 30px;
    width: 150px;
}
.btn-cse{
    background-color: #186F65;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
}
.btn-cse:hover{
    background-color: #5d8374;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
}
.table-cse{
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%;

}
.table-cse > td,th{
    border: 1px solid #186F65;
    padding: 5px;
}
.th-cse{
    background-color: #196d67;
    color: #F1EFEF;
}
.table-cse > td{
    background-color: #F1EFEF;
    text-align: center;
}
#btn-all{
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
}