#filtros-form{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 15vw;
    height: 87vh;
    background-color: #0e8680;
    margin: 20px 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.tipo-filtro{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.border-l{
    border-bottom: dashed white 2px;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.blanco{
    color: #F4F27E;
}

.espacio{
    margin-left: 10px;
}

.mb{
    margin-bottom: 10px;
}

.c-label{
    color: white;
}

#sel{
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

