@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: Roboto;
    text-decoration: none;
}
.header {
    display: flex;
    width: 100vw;
    height: 3.4em;
    background-color: #196d67;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -3px 10px #033b38 inset, 0 3px 10px #033b38 inset;
}
.header-logo{
    color: aliceblue;
    font-family: Roboto;
    font-size: 1.5em;
    margin-right: 52vw;
}

.header-login{
    display: flex;
    height: 62%;
    cursor: pointer;
    width: 6%;
}

.header-login-logo{
    width: 1em;
    filter: invert(1);
    margin: 0.2em 0.5em;
    font-size: 1em;
    cursor: pointer;
}

.header-login-boton{
    background: none;
    font-size: 1em;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}

.header-carrito{
    display: flex;
    height: 62%;
    width: 6%;
    align-items: center;
}

.header-carrito-logo{
    width: 1.5em;
    filter: invert(1);
    cursor: pointer;
    margin: 0.2em 0.5em;
}

.header-carrito-boton{
    background: none;
    font-size: 1em;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}

.margin-r10{
    margin-right: 10px;
}